@charset "UTF-8";
*{
	margin: 0;
	padding: 0;
}
.wrap{
	width: 100%;
}

.Header, .content{
	width: 100%;
	float: left;
}

.Header{
	height: 8em;
}


.page_content{
	width: 90%;
	height: 600px;
	background-color: #ffffff;
	float: left;
}

.Header{
	background-color: #ffffff;
}
